<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>高级搜索</title>
</head>
<body>
<h2>高级搜索 <div style="float: right"> <a href="/admin/operation">返回</a> </div> </h2>
<form action="/admin/advancedSearch/do" method="post">
    <p>学校： <input type="text" name="university" /></p>
    <p>姓名： <input type="text" name="name" /></p>
    <p>电话号码： <input type="tel" name="phoneNumber" /></p>
    <p>职称： <input type="text" name="title" /></p>
    <p>邮箱： <input type="email" name="mailbox" /></p>
    <p>学院： <input type="text" name="college" /></p>
    <p>研究方向： <input type="text" name="researchDirection" /></p>
    <input type="submit" value="搜索" />
</form>
</body>
</html>