<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>添加信息</title>
</head>
<body>
<h1>添加信息</h1>
<form action="/add/do" method="post">
    <p>学校： <input type="text" name="university" /></p>
    <p>姓名： <input type="text" name="name" /></p>
    <p>电话号码： <input type="tel" name="phoneNumber" /></p>
    <p>职称： <input type="text" name="title" /></p>
    <p>邮箱： <input type="email" name="mailbox" /></p>
    <p>学院： <input type="text" name="college" /></p>
    <p>实验室： <input type="text" name="lab" /></p>
    <p>基本情况： <input type="text" name="resume" /></p>
    <p>教育经历： <input type="text" name="educationExperience" /></p>
    <p>工作经历： <input type="text" name="workExperience" /></p>
    <p>研究方向： <input type="text" name="researchDirection" /></p>
    <p>开设课程： <input type="text" name="courses" /></p>
    <p>科研项目： <input type="text" name="scientificResearchItem" /></p>
    <p>专著论文： <input type="text" name="monograph" /></p>
    <p>专利： <input type="text" name="patent" /></p>
    <p>获奖： <input type="text" name="awards" /></p>
    <input type="submit" value="Submit" />
</form>
</body>
</html>